.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: "Playfair Display", serif;
	background-color: gray;
	background-size: 200px 100px;
}
h4 {
	font-style: normal;
	font-size: 30px;
	font-family: 'Georgia', serif;
	background-color: black;
}
h3 {
	font-size: 30px;
}
p {
	font-family: 'Inter' sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	font-variation-settings:
    "slnt" 0;
	font-size: 20px;
	color: black;
}
.header {
	color: darkred;
}
img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
.footer p {
	background-color: skyblue;
}
 img {
 	float: none;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}